<div style="width: 100%;"><br/><br/><div class="container section-title " data-aos="fade-up">
            <h2 class="section-headline">{{ 'price.Headline' | translate }}</h2>
            <p class="awards-description">{{'price.Description' | translate}}</p>
     
            <div id="Moving_cleaning_price1">
          
                <div class="moving-cleaning-row">

                    <div class="moving-cleaning-left">
                    <h3 style="text-align: center;">{{ 'price.movingcleaning.Headline' | translate }}</h3>
                    <p style="text-align: center;">{{ 'price.movingcleaning.Text1' | translate }}</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                                {{ 'price.movingcleaning.AccordionTitle1' | translate }}
                                                                        </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <table class="price-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ 'price.movingcleaning.Title' | translate }}</th>
                                                                            <th style="text-align: center;"></th>
                                                                            <th style="text-align: right;">{{ 'price.movingcleaning.Title2' | translate }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service1' | translate }}</td>
                                                                            <td></td>
                                                                            <td>1250</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service2' | translate }}</td>
                                                                            <td></td>
                                                                            <td>1450</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service3' | translate }}</td>
                                                                            <td></td>
                                                                            <td>1650</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'price.movingcleaning.AccordionTitle2' | translate }}
                                    </mat-panel-title>
                                    
                                </mat-expansion-panel-header>
                              <table class="price-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ 'price.movingcleaning.Title' | translate }}</th>
                                                                            <th style="text-align: center;"></th>
                                                                            <th style="text-align: right;">{{ 'price.movingcleaning.Title2' | translate }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service4' | translate }}</td>
                                                                            <td></td>
                                                                            <td>1999</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service5' | translate }}</td>
                                                                            <td></td>
                                                                            <td>2099</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service6' | translate }}</td>
                                                                            <td></td>
                                                                            <td>2299</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service7' | translate }}</td>
                                                                            <td></td>
                                                                            <td>2499</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service8' | translate }}</td>
                                                                            <td></td>
                                                                            <td>2699</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service9' | translate }}</td>
                                                                            <td></td>
                                                                            <td>2899</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service10' | translate }}</td>
                                                                            <td></td>
                                                                            <td>3099</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service11' | translate }}</td>
                                                                            <td></td>
                                                                            <td>3299</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service12' | translate }}</td>
                                                                            <td></td>
                                                                            <td>3499</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service13' | translate }}</td>
                                                                            <td></td>
                                                                            <td>3699</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service14' | translate }}</td>
                                                                            <td></td>
                                                                            <td>3899</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service15' | translate }}</td>
                                                                            <td></td>
                                                                            <td>4099</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service16' | translate }}</td>
                                                                            <td></td>
                                                                            <td>4299</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service17' | translate }}</td>
                                                                            <td></td>
                                                                            <td>4499</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service18' | translate }}</td>
                                                                            <td></td>
                                                                            <td>4699</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service19' | translate }}</td>
                                                                            <td></td>
                                                                            <td>4899</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service20' | translate }}</td>
                                                                            <td></td>
                                                                            <td>Request a quote</td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                            </mat-expansion-panel>

                             <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'price.movingcleaning.AccordionTitle3' | translate }}
                                    </mat-panel-title>
                                    
                                </mat-expansion-panel-header>
                                <table class="price-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ 'price.movingcleaning.Title' | translate }}</th>
                                                                            <th  ></th>
                                                                            <th style="text-align: right;">{{ 'price.movingcleaning.Title2' | translate }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service21' | translate }}</td>
                                                                            <td></td>
                                                                            <td>250</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service22' | translate }}</td>
                                                                            <td></td>
                                                                            <td>500</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service23' | translate }}</td>
                                                                            <td></td>
                                                                            <td>250</td>
                                                                        </tr>
                                                                         <tr>
                                                                            <td>{{ 'price.movingcleaning.Service24' | translate }}</td>
                                                                            <td></td>
                                                                            <td>500</td>
                                                                        </tr>
                                                                         <tr>
                                                                            <td>{{ 'price.movingcleaning.Service25' | translate }}</td>
                                                                            <td></td>
                                                                            <td>500</td>
                                                                        </tr>
                                                                         <tr>
                                                                            <td>{{ 'price.movingcleaning.Service26' | translate }}</td>
                                                                            <td></td>
                                                                            <td>250</td>
                                                                        </tr>
                                                                         <tr>
                                                                            <td>{{ 'price.movingcleaning.Service27' | translate }}</td>
                                                                            <td></td>
                                                                            <td>25</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service28' | translate }}</td>
                                                                            <td></td>
                                                                            <td>219</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                            </mat-expansion-panel>
                        </mat-accordion>
   
                    </div>
        
                    <div class="moving-cleaning-right">
                        <img src="assets/img/PriceMoving.jpg" alt="Moving Cleaning" class="moving-cleaning-img" />
                    </div>
                </div>
            </div>


            <div id="Moving_cleaning_price2">
          
                <div class="moving-cleaning-row">

                    


                    <div class="moving-cleaning-right">
                    <img src="assets/img/WindowCleaning.jpg" alt="Window Cleaning" class="moving-cleaning-img" />
                    </div>

                <div class="moving-cleaning-left">
                    <h3 style="text-align: center;">{{ 'WindowCleaning' | translate }}</h3>
                    <p style="text-align: center;">{{ 'price.movingcleaning.Text1' | translate }}</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                                {{ 'price.movingcleaning.AccordionTitle1' | translate }}
                                                                        </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <table class="price-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ 'price.movingcleaning.Title' | translate }}</th>
                                                                            <th style="text-align: center;">{{ 'price.movingcleaning.Title1' | translate }}</th>
                                                                            <th style="text-align: right;">{{ 'price.movingcleaning.Title2' | translate }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service29' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service30' | translate }}</td>
                                                                            <td>239</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service31' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service30' | translate }}</td>
                                                                            <td>449</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service32' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service30' | translate }}</td>
                                                                            <td>749</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                            </mat-expansion-panel>
                            

                             <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'price.movingcleaning.AccordionTitle3' | translate }}
                                    </mat-panel-title>
                                    
                                </mat-expansion-panel-header>
                                <table class="price-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ 'price.movingcleaning.Title' | translate }}</th>
                                                                            <th style="text-align: center;">{{ 'price.movingcleaning.Title1' | translate }}</th>
                                                                            <th style="text-align: right;">{{ 'price.movingcleaning.Title2' | translate }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service33' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service30' | translate }}</td>
                                                                            <td>120</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service35' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service30' | translate }}</td>
                                                                            <td>120</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service36' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service30' | translate }}</td>
                                                                            <td>80</td>
                                                                        </tr>
                                                                         <tr>
                                                                            <td>{{ 'price.movingcleaning.Service34' | translate }}</td>
                                                                            <td></td>
                                                                            <td>80</td>
                                                                       
                                                                        
                                                                    </tbody>
                                                                </table>
                            </mat-expansion-panel>
                        </mat-accordion>
   
                    </div>
                        
                    </div>
                </div>
         


             <div id="home_cleaning_price2">
          
                <div class="moving-cleaning-row">

                     <div class="moving-cleaning-right">
                    <h3 style="text-align: center;">{{ 'HomeCleaning' | translate }}</h3>
                    <p style="text-align: center;">{{ 'price.movingcleaning.Text1' | translate }}</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                                {{ 'price.movingcleaning.Service37' | translate }}
                                                                        </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <table class="price-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ 'price.movingcleaning.Title' | translate }}</th>
                                                                            <th style="text-align: center;">{{ 'price.movingcleaning.Title1' | translate }}</th>
                                                                            <th style="text-align: right;">{{ 'price.movingcleaning.Title2' | translate }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service39' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service41' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service50' | translate }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service40' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service49' | translate }}</td>
                                                                            <td>{{ 'price.movingcleaning.Service51' | translate }}</td>
                                                                        </tr>
                                                                       
                                                                    </tbody>
                                                                </table>
                            </mat-expansion-panel>
                            
                        </mat-accordion>
   
                    </div>


                    <div class=" moving-cleaning-left">
                             <img src="assets/img/HomeCleaning.jpg" alt="Home Cleaning" class="moving-cleaning-img" />
                        </div>

                      
                        
                    </div>
                </div>

                
                <div class="moving-cleaning-row">

                    


                    <div class="moving-cleaning-right">
                    <img src="assets/img/Office.jpg" alt="Window Cleaning" class="moving-cleaning-img" />
                    </div>

                <div class="moving-cleaning-left">
                    <h3 style="text-align: center;">{{ 'price.movingcleaning.Service43' | translate }}</h3>
                    <p style="text-align: center;">{{ 'price.movingcleaning.Text1' | translate }}</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                                {{ 'price.movingcleaning.Service42' | translate }}
                                                                        </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <p>{{ 'price.movingcleaning.Service44' | translate }}</p>
                            </mat-expansion-panel>
                            

                             
                        </mat-accordion>
   
                    </div>
                        
                </div>
              
           
         
                <div id="home_cleaning_price2">
          
                <div class="moving-cleaning-row">

                     <div class="moving-cleaning-right">
                    <h3 style="text-align: center;">{{ 'price.movingcleaning.Service45' | translate }}</h3>
                    <p style="text-align: center;">{{ 'price.movingcleaning.Text1' | translate }}</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                                {{ 'price.movingcleaning.Service52' | translate }}
                                                                        </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <table class="price-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>{{ 'price.movingcleaning.Title' | translate }}</th>
                                                                            <th>{{ 'price.movingcleaning.Title1' | translate }}</th>
                                                                            <th style="text-align: right;">{{ 'price.movingcleaning.Title2' | translate }}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service46' | translate }}</td>
                                                                            <td></td>
                                                                            <td>219</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service47' | translate }}</td>
                                                                            <td></td>
                                                                            <td>25-40</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ 'price.movingcleaning.Service48' | translate }}</td>
                                                                            <td></td>
                                                                            <td>Prices coming soon</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                            </mat-expansion-panel>
                            
                        </mat-accordion>
   
                    </div>


                    <div class=" moving-cleaning-left">
                             <img src="assets/img/other.jpg" alt="Home Cleaning" class="moving-cleaning-img" />
                        </div>

                      
                        
                    </div>
                </div>

         </div></div>










