
 
  <div class="home home-flex">
    <div class="home-left">
      <div id="home-title">
        <h1  style="font-size: 28px "  class="home-subtitle">{{ 'Home.Welcome_Message' | translate }}</h1>
        <h1 style="font-size: 48px; font-weight: bold;">{{ 'Home.Intro_Line1' | translate }}<br>{{ 'Home.Intro_Line2' | translate }}</h1>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <button style="font-weight: bold;" mat-raised-button color="accent" routerLink="/booking" class="booking-btn1">{{ 'Booking' | translate }}</button>
       <br/>
    
        <ul>
          <li>Trained professionals</li>
          <li>Insurance included</li>
          <li>Fixed prices</li>
        </ul>
      </div>
    </div>
    <div class="home-right">
      <img src="assets/img/Logo.png" alt="Home Image" class="home-img" />
    </div>
  </div>
 
  <app-about-us></app-about-us>

 

  
  
