<br/><br/><div class="container section-title " data-aos="fade-up">
            <h2 class="section-headline">{{ 'Generalcleaning.headline' | translate }}</h2>
         <p class="awards-description">{{'Generalcleaning.headlinep' | translate}}</p>
          
          <br>

        </div>


<div class="homecleaning-row" style="display: flex; align-items: flex-start; gap: 32px;">
  <!-- Left side image -->
  
  <!-- Right side accordion -->
  <div class="homecleaning-accordion" style="flex: 2; min-width: 320px;">
    <mat-accordion>

      <mat-expansion-panel  style="margin-bottom: 8px;">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bold;">
            {{ 'Generalcleaning.Allrooms' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
       <p >{{ 'Generalcleaning.Service1' | translate }}</p>
       <div style="display: flex; align-items: flex-start; gap: 16px;">
        <ul style="margin-left: 0;">
           <li>{{ 'Generalcleaning.Allroom1' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom2' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom3' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom4' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom5' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom6' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom7' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom8' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom9' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom10' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom11' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom12' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom13' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom14' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom15' | translate }}</li>
          <li>{{ 'Generalcleaning.Allroom16' | translate }}</li>
          <!-- Add more points as needed -->
        </ul>
        <img src="assets/img/All_Room1.png" alt="Service 2" style="width:349px; height:396px;  margin-left:146px;">
       </div>
      </mat-expansion-panel>
      
      <mat-expansion-panel style="margin-bottom: 8px;">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bold;">
             {{ 'Generalcleaning.Kitchen' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
         <p >>{{ 'Generalcleaning.Service1' | translate }}</p>
         <div style="display: flex; align-items: flex-start; gap: 16px;">
        <ul style="margin-left: 1em;">
          <li>{{ 'Generalcleaning.Kitchen1' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen2' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen3' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen4' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen5' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen6' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen7' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen8' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen9' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen10' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen11' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen12' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen13' | translate }}</li>
          <li>{{ 'Generalcleaning.Kitchen14' | translate }}</li>
          <!-- Add more points as needed -->
        </ul>
        <img src="assets/img/1758210155039.jpeg" alt="Service 2" style="width:349px; height:396px; margin-left:16px;">
        </div>
      </mat-expansion-panel>
     
      <mat-expansion-panel style="margin-bottom: 8px;" >
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bold;">
           {{ 'Generalcleaning.Bathroom' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p >{{ 'Generalcleaning.Service1' | translate }}</p>
        <div style="display: flex; align-items: flex-start; gap: 16px;">
          <ul style="margin-left: 1em;">
            <li>{{ 'Generalcleaning.Bathroom1' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom2' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom3' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom4' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom5' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom6' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom7' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom8' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom9' | translate }}</li>
          <li>{{ 'Generalcleaning.Bathroom10' | translate }}</li>
            <!-- Add more points as needed -->
          </ul>
          <img src="assets/img/1758209644689.jpeg" alt="Service 2" style="width:444px; height:336px; margin-left:145px;">
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel style="margin-bottom: 8px;" >
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bold;">
            {{ 'Generalcleaning.Hall' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
         <p >{{ 'Generalcleaning.Service1' | translate }}</p>
        <div style="display: flex; align-items: flex-start; gap: 16px;">
          <ul style="margin-left: 1em;">
             <li>{{ 'Generalcleaning.Hall1' | translate }}</li>
          <li>{{ 'Generalcleaning.Hall2' | translate }}</li>
          <li>{{ 'Generalcleaning.Hall3' | translate }}</li>
            <!-- Add more points as needed -->
          </ul>
         <!-- <img src="assets/img/53282543286.jpg" alt="Service 2" style="width:143px; height:176px; margin-left:50px;"> -->
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel style="margin-bottom: 8px;" >
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bold;">
             {{ 'Generalcleaning.Additionalservices' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p >{{ 'Generalcleaning.Service1' | translate }}</p>
        <div style="display: flex; align-items: flex-start; gap: 16px;">
  <ul style="margin-left: 1em;">
    <li>{{ 'Generalcleaning.Additionalservices1' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices2' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices3' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices4' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices5' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices6' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices7' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices8' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices9' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices10' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices11' | translate }}</li>
          <li>{{ 'Generalcleaning.Additionalservices12' | translate }}</li> 
    <!-- Add more points as needed -->
  </ul>
  <img src="assets/img/All_Room1.png" alt="Service 2" style="width:349px; height:295px; margin-left:16px;">
</div>
      </mat-expansion-panel>

      <mat-expansion-panel style="margin-bottom: 8px;"  >
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bold;">
            {{ 'Generalcleaning.Note' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p >{{ 'Generalcleaning.Service1' | translate }}</p>
        <div style="display: flex; align-items: flex-start; gap: 16px;">
        <ul style="margin-left: 1em;">
           <li>{{ 'Generalcleaning.Note1' | translate }}</li>
          <li>{{ 'Generalcleaning.Note2' | translate }}</li>
          <li>{{ 'Generalcleaning.Note3' | translate }}</li>
          <li>{{ 'Generalcleaning.Note4' | translate }}</li>
          <li>{{ 'Generalcleaning.Note5' | translate }}</li>
          <li>{{ 'Generalcleaning.Note6' | translate }}</li>
          <li>{{ 'Generalcleaning.Note7' | translate }}</li>
         </ul>
        <!--<img src="assets/img/All_Room1.png" alt="Service 2" style="width:349px; height:336px; margin-left:16px;">-->
        </div>
        
        </mat-expansion-panel>

    </mat-accordion>
</div>
      </div>




















    
    


 



       











