<section class="awards-section"><br>
	<h2 class="awards-headline">{{'Awards.Headline' | translate}}</h2><br>
	<p class="awards-description">{{'Awards.Award1' | translate}}</p><br>
	<div class="awards-list">
			<div class="award-item">
				<img src="assets/img/Awards_1.png" alt="Award 1" class="award-img" />
				
			</div>
			<div class="award-item">
				<img src="assets/img/Awards_2.jpg" alt="Award 2" class="award-img" />
			
			</div>
			<div class="award-item">
				<img src="assets/img/Awards_3.jpg" alt="Award 3" class="award-img" />
				
			</div>

            
			
	</div>
</section>
<br><br>
<app-serv></app-serv>
