



<footer class="footer">
  <div class="footer-row">
    <h3>{{ 'About_Us' | translate }}</h3>
    <p>{{ 'Footer.Anout_Us_line1' | translate }}</p>
  </div>
  <div class="footer-row">
    <h3>{{ 'Footer.Business_Hours' | translate }}</h3>
    <p>{{ 'Footer.Business_Hours_Opening_Days' | translate }}<br>{{ 'Footer.Business_Hours_Opening_Hours' | translate }}</p>
    <p>{{ 'Footer.Business_Hours_Vacation' | translate }}<br>{{ 'Footer.Business_Hours_Vacation1' | translate }}<br>{{ 'Footer.Business_Hours_Vacation2' | translate }}</p>
  </div>
  <div class="footer-row">
    <h3>{{ 'Footer.QuickLinks' | translate }}</h3>
    <ul>
      <li><a href="/home">{{ 'HELLO' | translate }}</a></li>
      <li><a href="/about">{{ 'About_Us' | translate }}</a></li>
      <li><a href="/services">{{ 'Services' | translate }}</a></li>
      <li><a href="/contact">{{ 'Contact' | translate }}</a></li>
      <li><a href="/photos">{{ 'Jobopenings' | translate }}</a></li>
    </ul>
  </div>
  <div class="footer-row">
    <h3>{{ 'Contact' | translate }}</h3>
<ul>
      <p><a href="mailto:info@nojdstad.se" style="color:inherit;text-decoration:none;">info@nojdstad.se</a></p>
  		<li><a href="tel:+46739679801" style="color:inherit;text-decoration:none;">+46 073 967 9801</a></li>
      <li><a href="tel:+46739447007" style="color:inherit;text-decoration:none;">+46 073 944 7007</a></li>
</ul>

    

  </div>
   <div class="footer-note text-center" style="background-color: black; width: 100%; ">
  <a href="https://wa.me/+46739679801" target="_blank" rel="noopener noreferrer"><img src="assets/img/whatsapp-icon.svg" alt="WhatsApp" width="60px"  /></a>
    <a href="https://www.facebook.com/people/N%C3%B6jd-St%C3%A4d-och-Puts/61563929682489/" target="_blank" rel="noopener noreferrer"><img src="assets/img/facebook.svg" alt="Facebook" width="30px" style="margin-right: 15px;" /></a>
    <a href="https://www.instagram.com/nojd_stad_puts/" target="_blank" rel="noopener noreferrer"><img src="assets/img/instagram.svg" alt="Instagram" width="30px" style="margin-right: 15px;" /></a>
    <a href="https://x.com/Nojdstad" target="_blank" rel="noopener noreferrer"><img src="assets/img/Xx.png" alt="Twitter" width="25px" style="margin-right: 15px;" /></a>
  </div>
  <div class="footer-note text-center" style="background-color: black; width: 100%; margin-top: 16px;">
    <p style="color: white; margin: 0;">{{ 'Footer.Footer_Copyright' | translate }}</p>
  </div>
</footer>
