<section id="stats" class="stats section">
  <!-- Section Title -->
  <div class="container section-title " data-aos="fade-up">
  <h2 class="section-headline">{{ 'Experience.Headline' | translate }}</h2>
  </div><br>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-2 justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span class="purecounter">7</span><br>
          <p class="purecounter">{{ 'Experience.Years' | translate }}</p>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span class="purecounter">653</span><br>
          <p class="purecounter">{{ 'Experience.Customers' | translate }}</p>
        </div>
      </div>
      <!-- End Stats Item -->

      <!-- Example for a third stat -->
      <!--
      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span class="purecounter">32</span>
          <p>{{ 'Experience.Workers' | translate }}</p>
        </div>
      </div>
      -->
      <!-- End Stats Item -->
    </div>
  </div>
</section>
<br><br>
<app-awards></app-awards>