<br><br>
<div style="padding-left: 10px; padding-right: 10px; display: flex; flex-direction: column; gap: 24px;">
  <h2 class="section-headline">{{ 'services.TITLE' | translate }}</h2>
</div>

<a class="single-line-content" routerLink="/HomeCleaning" style="text-decoration: none; color: inherit; display: flex;">
  <img src="assets/img/1.jpeg" style="height: 150px;" alt="Service Image" />
  <h2>{{ 'services.Service1_Title' | translate }}</h2>
  <p>{{ 'services.Service1_Description' | translate }}</p>
</a>

<div class="single-line-content" routerLink="/GeneralCleaning">
  <img src="assets/img/2.jpeg" style="height: 150px;" alt="Service Image" />
  <h2>{{ 'services.Service2_Title' | translate }}</h2>
  <p>{{ 'services.Service2_Description' | translate }}</p>
</div>

<div class="single-line-content" routerLink="/MovingCleaning">
  <img src="assets/img/3.jpeg" style="height: 150px;" alt="Service Image" />
  <h2>{{ 'services.Service3_Title' | translate }}</h2>
  <p>{{ 'services.Service3_Description' | translate }}</p>
</div>

<div class="single-line-content" routerLink="/WindowCleaning">
  <img src="assets/img/4.jpeg" style="height: 150px;" alt="Service Image" />
  <h2>{{ 'services.Service4_Title' | translate }}</h2>
  <p>{{ 'services.Service4_Description' | translate }}</p>
</div>
<br><br>
<app-contact-us></app-contact-us>